!!! 5
html(lang="es")
  head
    title Semana Música Libre
    link(rel="stylesheet", href="stylesheets/foundation/css/normalize.css")
    link(rel="stylesheet", href="stylesheets/foundation/css/foundation.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Poiret+One")
  body
    .contain-to-grid.fixed
      nav.top-bar
        ul.title-area
          li.name

        section.top-bar-section
          ul
            li.divider
            li.active
              a(href="#") Portada
            li.divider
            li.active
              a(href="#") ¿Qué es?
            li.divider
            li.active
              a(href="#") Cronograma
            li.divider
            li.active
              a(href="#") Participantes
            li.divider
            li.active
              a(href="#") Cómo llegar
            li.divider
            li.active
              a(href="#") Contacto
            li.divider

    #main
      .row
        .large-12.columns
          h1 ¿Qué es?
          p(style="white-space:pre;")
            | Semana de la Música Libre
            | Del 23 al 30 de Noviembre
            | Montevideo - Uruguay
          p
            | Durante la última semana del mes de noviembre se llevará a cabo en Uruguay la Semana de la Música
            | Libre (SML), evento que contará con actividades, charlas, conferencias y talleres en torno a la temática de
            | la Cultura Libre.
            | Paralelamente habrá varios espectáculos de música en vivo, cerrando el sábado 30 con un Festival de
            | bandas independientes.
            | El evento esta organizado por Creative Commons Uruguay y se llevará a cabo en Montevideo, en
            | conjunto con el Barrio de las Artes y con la participación de los sellos independientes Vía Láctea, Feel de Agua, 
            | El Festival de Música Libre (FML) será realizado en un espacio abierto en la esquina de las calles Soriano y Ciudadela. 

      .row
        .large-12.columns
          h1 Cronograma
          p
            | Dia 1 (sábado 23 de noviembre)
            | Presentación de la programación de la Semana de la Música Libre
            | Feria de discos y fanzines
            | Brindis
            | Cierre con Música en vivo (Podría ser la orquesta juvenil y una banda)
          p
            | Día 2 (jueves 28 de noviembre)
            | Charla/debate ¿Cómo editar independientemente? / Sellos Independientes
            | Modelos de gestión y financiamiento colectivo
            | Proyección del cortometraje documental ¿La Propia Cartonera¿
            | Feria de Discos y Fanzines
            | Taller de Improvisación Musical y Encuadernado Artesanal
          p
            | Día 3 (viernes 29 de noviembre) 19 a 22hs
            | Charla/debate sobre Derechos de autor y Propiedad Intelectual
            | Taller sobre usos de licencias libres y/o abiertas.
            | Taller de iluminación (quizá este sea en Etc.)
            | Cierre con música en vivo
          p
            | Día 5 (Sábado 30 de noviembre)
            | Festival de Música Libre en espacio abierto (Plaza Matriz)
            | Desde las 18 hasta las 0hs bandas en vivo:
            | - Vaimaca Dub
            | - Pescado M
            | - Comunismo Internacional
            | - División Burzaco
            | - Power Chocolatín Experimento
            | - Hijo Agrio
            | - Alessandro Podestá
            | Feria de Discos y Fanzines
            | Carpa con info y material de CC
            | Carpa, para artistas, músicos y técnicos.
            | Copyparty

      .row
        #map.large-12.columns(style="height: 400px;")


    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js")
    script(src="stylesheets/foundation/js/vendor/custom.modernizr.js")
    script(src="javascripts/main.js")
