!!! 5
html(lang="es")
  head
    title Semana Música Libre
    link(rel="stylesheet", href="stylesheets/foundation/css/normalize.css")
    link(rel="stylesheet", href="stylesheets/foundation/css/foundation.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Oswald")

  body
    .contain-to-grid.fixed
      nav.top-bar
        ul.title-area
          li.name

        section.top-bar-section
          ul
            li.divider
            li.active
              a.top-bar-link(href="#") Portada
            li.divider
            li.active
              a.top-bar-link(href="#about") ¿Qué es?
            li.divider
            li.active
              a.top-bar-link(href="#schedule") Cronograma
            li.divider
            li.active
              a.top-bar-link(href="#labels") Participan
            li.divider
            li.active
              a.top-bar-link(href="#map") Cómo llegar
            li.divider
            li.active
              a.top-bar-link(href="#") Contacto
            li.divider

    #about.row
      .large-12.columns
        h1 ¿Qué es?
        //-p(style="white-space:pre;")
          //-| Semana de la Música Libre
          //-| Del 23 al 30 de Noviembre
          //-| Montevideo - Uruguay
        p
          | Durante la última semana del mes de noviembre se llevará a cabo en Uruguay la Semana de la Música
          | Libre (SML), evento que contará con actividades, charlas, conferencias y talleres en torno a la temática de
          | la Cultura Libre.
          | Paralelamente habrá varios espectáculos de música en vivo, cerrando el sábado 30 con un Festival de
          | bandas independientes.
          | El evento esta organizado por Creative Commons Uruguay y se llevará a cabo en Montevideo, en
          | conjunto con el Barrio de las Artes y con la participación de los sellos independientes Vía Láctea, Feel de Agua, 
          | El Festival de Música Libre (FML) será realizado en un espacio abierto en la esquina de las calles Soriano y Ciudadela. 

    #schedule.row
      .large-12.columns
        h1 Cronograma
        .day.large-12.columns
          h3 Día 1 &nbsp;
            small sábado 23
          table
            tbody
              tr
                td: strong 16hs
                td Presentación de la programación de la Semana de la Música Libre
              tr
                td: strong 19hs
                td Brindis
              tr
                td: strong 21hs
                td Cierre con música en vivo

        .day.large-12.columns
          h3 Día 2 &nbsp;
            small jueves 28
        .day.large-12.columns
          h3 Día 3 &nbsp;
            small viernes 29
        .day.large-12.columns
          h3 Día 4 &nbsp;
            small sábado 30
        ul.large-block-grid-4
          li: img(src="http://foundation.zurb.com/docs/img/demos/demo1.jpg")
          li: img(src="http://foundation.zurb.com/docs/img/demos/demo1.jpg")
          li: img(src="http://foundation.zurb.com/docs/img/demos/demo1.jpg")
          li: img(src="http://foundation.zurb.com/docs/img/demos/demo1.jpg")
          li: img(src="http://foundation.zurb.com/docs/img/demos/demo1.jpg")

        p
          | Dia 1 (sábado 23 de noviembre)
          | Presentación de la programación de la Semana de la Música Libre
          | Feria de discos y fanzines
          | Brindis
          | Cierre con Música en vivo (Podría ser la orquesta juvenil y una banda)
        p
          | Día 2 (jueves 28 de noviembre)
          | Charla/debate ¿Cómo editar independientemente? / Sellos Independientes
          | Modelos de gestión y financiamiento colectivo
          | Proyección del cortometraje documental ¿La Propia Cartonera¿
          | Feria de Discos y Fanzines
          | Taller de Improvisación Musical y Encuadernado Artesanal
        p
          | Día 3 (viernes 29 de noviembre) 19 a 22hs
          | Charla/debate sobre Derechos de autor y Propiedad Intelectual
          | Taller sobre usos de licencias libres y/o abiertas.
          | Taller de iluminación (quizá este sea en Etc.)
          | Cierre con música en vivo
        p
          | Día 5 (Sábado 30 de noviembre)
          | Festival de Música Libre en espacio abierto (Plaza Matriz)
          | Desde las 18 hasta las 0hs bandas en vivo:
          | - Vaimaca Dub
          | - Pescado M
          | - Comunismo Internacional
          | - División Burzaco
          | - Power Chocolatín Experimento
          | - Hijo Agrio
          | - Alessandro Podestá
          | Feria de Discos y Fanzines
          | Carpa con info y material de CC
          | Carpa, para artistas, músicos y técnicos.
          | Copyparty

    #labels.row
      .large-12.columns
        h1 Participan      
        ul.logos.no-bullet.inline-list
          li.logo-sello: a(href="http://vialacteaediciones.com", target="blank"): img.logo(src="images/via-lactea.jpg") 
          li.logo-sello: a(href="http://feeldeagua.net", target="blank"): img.logo(src="images/feel-de-agua.jpg") 
          li.logo-sello: a(href="https://www.facebook.com/enlosnervios?fref=ts", target="blank"): img.logo(src="images/en-los-nervios.jpg") 
          li.logo-sello: a(href="https://www.facebook.com/octavo.octavo.1?fref=ts", target="blank"): img.logo(src="images/el-octavo.jpg") 
          li.logo-sello: a(href="https://www.facebook.com/estampita?fref=ts", target="blank"): img.logo(src="images/estampita.jpg") 


    #map.row(style="height: 600px;")


    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js")
    script(src="stylesheets/foundation/js/vendor/custom.modernizr.js")
    script(src="javascripts/main.js")
    script(src="javascripts/jquery-scrollspy.js")
