body {
  position: initial;
  overflow: hidden;
}

h1 {
  font-family: 'Poiret One', sans-serif;
  margin-top: 100px;
}

.row {
  min-height: 100%;
  padding: 0 10%;
  position: absolute;
  min-width: 100%;
}

.top-bar-section ul {
  display: table; margin: 0 auto;
}

.top-bar-section ul li {
display: table-cell;
}

#about {
  background-color: #729fcf;
  top: 0%;
}

#schedule {
  top: 100%;
}

#map {
  top: 200%;
}
