h1 {
  font-family: 'Poiret One', sans-serif;
  margin-top: 100px;
}

.row {
  display: block;
  height: 100%;
  padding: 0 10%;
  position: absolute;
  min-width: 100%;
}

.top-bar-section ul {
  display: table; margin: 0 auto;
}

.top-bar-section ul li {
display: table-cell;
}

#main {
  /*margin-top: 100px;*/
}

#about {
  background-color: #729fcf;
  top: 100%;
}

#schedule {
  top: 200%;
}
