h1 {
  font-family: 'Poiret One', sans-serif;
}
.row {
  padding: 0 10%;
  min-width: 100%;
}
.top-bar-section ul {
  display: table; margin: 0 auto;
}
.top-bar-section ul li {
display: table-cell;
}
#main {
  margin-top: 100px;
}
